body {
  margin: 0;
}

.header-img {
  width: 100%;
  height: 500px;
  background: url("/images/ragsved.jpg");
  background-position: center;
  background-size: contain, cover;
  /* background-repeat: no-repeat; */
}

.icon-container {
  display: flex;
}

.linkedin-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 1250px;
  top: 102px;
}

.github-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 1340px;
  top: 102px;
}

.stackoverflow-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 1430px;
  top: 102px;
}

.header-text {
  position: absolute;
  width: 607px;
  height: 339px;
  left: 410px;
  top: 206px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 37px;
  /* or 132% */

  letter-spacing: 0.04em;

  color: #ffffff;
}

.profile-img {
  /* Positioning */
  position: absolute;
  right: 230px;
  bottom: 170px;
  top: 378px;

  width: 200px;
  height: 200px;

  /*  Rounded corners */
  border-radius: 50%;

  /* An outline on the circle */
  border: 2px solid whitesmoke;

  /* Makes sure nothing sticks out of the circle */
  overflow: hidden;
}

.profile-img > img {
  width: 100%;
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 126px;
}

.portfolio-section:nth-child(2n) {
  background-color: #f4f4f4;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.intro-container {
  /* position: absolute; */
  height: 432px;
  padding-bottom: 0;
  /* top: 668px; */
}

.intro-text {
  /* position: absolute; */
  width: 800px;
  height: 200px;
  left: 410px;
  top: 791px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  /* or 167% */

  color: #000000;
}

.line {
  border: 1px solid #c62a88;
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #c62a88;
  border-radius: 50%;
  display: inline-block;
}

.portfolio-heading-container {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
}

.portfolio-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.01em;
  background-color: #fa382f;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 3px;
}

.tech-description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  /* or 167% */

  text-align: center;
  letter-spacing: 0.01em;
}

.highlight {
  color: #fa382f;
}

.project-container-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 54px;
}

.project-container-child {
  font-family: Roboto;
  font-style: normal;
  font-size: 25px;
  line-height: 41px;
  /* or 164% */
  /* 
  display: flex;
  align-items: center; */
  letter-spacing: 0.01em;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(156, 166, 197, 0.5);
}

.image {
  width: 100%;
  display: block;
}

.project-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;
  /* or 164% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #fa382f;
}

.portfolio-heading-reversed {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 47px;
  padding: 20px;
  /* identical to box height, or 124% */

  text-align: center;

  color: #fa382f;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}
