body {
  margin: 0;
}

.container {
  width: 325px;
  margin: 0 auto;
}

.header-img {
  width: 100%;
  height: 490px;
  background: url("./images/header-img.jpg");
  background-position: center;
  background-size: cover;
}

.icon-container {
  display: flex;
  position: absolute;
  width: 130.5px;
  height: 40px;
  left: 240px;
  top: 48px;
  gap: 5px;
}

.white-icon {
  width: 30px;
  height: 30px;
}

.header-text {
  position: absolute;
  width: 220px;
  height: 202px;
  left: 24px;
  top: 121px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* or 138% */

  letter-spacing: 0.04em;

  color: #ffffff;
}

.profile-img {
  /* Positioning */
  position: absolute;
  width: 180px;
  height: 180px;
  left: 200px;
  top: 390px;

  width: 150px;
  height: 150px;

  /*  Rounded corners */
  border-radius: 50%;

  /* An outline on the circle */
  border: 2px solid whitesmoke;

  /* Makes sure nothing sticks out of the circle */
  overflow: hidden;
}

.profile-img > img {
  width: 100%;
}
.portfolio-section {
  padding-top: 50px;
  padding-bottom: 45px;
}

.portfolio-section:nth-child(2n) {
  background-color: #f4f4f4;
}

.intro-container {
  width: 325px;
  padding: 0;
  font-family: Montserrat;
  font-size: 17px;
  line-height: 29px;
  color: black;
}

.line {
  border: 1px solid #c62a88;
  width: 20px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #c62a88;
  border-radius: 50%;
  display: inline-block;
}

.portfolio-heading-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.portfolio-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  padding: 5px;
  font-size: 1.4rem;
  line-height: 42px;
  letter-spacing: 0.01em;
  background-color: #050c26;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.tech-description {
  width: 325px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;

  text-align: center;
  letter-spacing: 0.01em;
}

.highlight {
  color: #fa382f;
}

.project-container-parent {
  display: grid;
  grid-template-columns: 1fr;
  width: 325px;
  padding: 0;
  font-size: 17px;
  line-height: 29px;
}
.project-container-child {
  font-family: Roboto;
  font-style: normal;
  justify-content: center;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.01em;
  width: 325px;
  padding-bottom: 20px;
}
.project-container-child:nth-child(3) {
  display: none;
}
.project-container-child:nth-child(4) {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(156, 166, 197, 0.5);
}

.overlay:hover {
  display: none;
}

.image {
  width: 100%;
  display: block;
}

.project-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 29px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #072d54;
}

.project-container-child p {
  font-size: 17px;
  line-height: 29px;
}

.tag-wrapper span {
  font-family: "Roboto", sans-serif;
  color: #2b2e34;
  font-weight: bold;
  background-color: #db9aab;
  text-decoration: none;
  font-size: 9px;
  line-height: 11px;
  /* Matching line-height and font-size here gives full control 
   over the size of our tags to the padding*/
  font-size: 12px;
  line-height: 12px;

  /* Control the size of the tags */
  padding: 4px;

  /* Control the spacing of our tags */
  margin: 3px;

  /* Some rounded borders */
  border-radius: 5px;
}

.portfolio-heading-reversed {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  padding-top: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #072d54;
}

.project-heading-other {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #072d54;
}
.other-projects-container-child {
  display: flex;
  flex-direction: column;
  width: 325px;
}

.other-projects-container-child a {
  text-decoration: none;
}

.other-projects-container-child p {
  font-size: 14px;
  color: #000000;
  font-weight: normal;
}

.code-thoughts-section {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

.skills-section-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 325px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.skills-section-parent h2 {
  justify-content: center;
}

.skills-section-child:nth-child(3) {
  display: none;
}

.icon-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.blue-icon {
  width: 60px;
  height: 60px;
  padding: 0;
  gap: 0;
}

footer {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  color: white;
  background-color: #374d63;
  padding-top: 50px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.footer-section a {
  padding: 5px;
}

.footer-heading {
  text-transform: uppercase;
}

/* ---------- PAD ---------- */

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }

  .icon-container {
    left: 468px;
    top: 120px;
    gap: 10px;
  }

  .white-icon {
    width: 70px;
    height: 70px;
  }

  .header-text {
    width: 607px;
    height: 339px;
    top: 206px;
    font-size: 28px;
    line-height: 37px;
  }

  .profile-img {
    left: 550px;
    bottom: 170px;
    top: 350px;

    width: 200px;
    height: 200px;
  }

  .portfolio-section {
    padding-top: 60px;
    padding-bottom: 66px;
  }

  .intro-container {
    padding-bottom: 0;
    width: 768px;
    font-size: 22px;
    line-height: 34px;
  }

  .line {
    width: 40px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }

  .portfolio-heading {
    font-size: 36px;
    padding: 3px;
  }

  .tech-description {
    width: 768px;
    font-size: 22px;
    line-height: 34px;
  }

  .project-container-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 768px;
    gap: 50px;
    justify-content: center;
  }

  .project-container-child {
    width: 350px;
    letter-spacing: 0.01em;
  }
  .project-container-child:nth-child(3) {
    display: unset;
  }
  .project-container-child:nth-child(4) {
    display: unset;
  }

  .project-heading {
    font-size: 18px;
    line-height: 41px;
  }

  .tag-wrapper {
    display: flex;
  }

  .portfolio-heading-reversed {
    font-size: 28px;
    line-height: 38px;
  }

  .other-projects-container-child {
    display: flex;
    flex-direction: column;
    width: 768px;
  }

  .other-projects-container-child a {
    text-decoration: underline;
  }

  .other-projects-container-child p {
    font-size: 16px;
  }

  .code-thoughts-section {
    font-size: 18px;
    line-height: 36px;
  }

  .skills-section-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 768px;
    font-size: 18px;
    line-height: 18px;
  }

  .skills-section-child:nth-child(3) {
    display: unset;
  }

  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-media-section {
    display: flex;
    justify-content: center;
  }

  .blue-icon {
    width: 90px;
    height: 90px;
  }
}

/* ---------- DESKTOP ---------- */

@media (min-width: 992px) {
  .icon-container {
    left: 750px;
    top: 120px;
    gap: 10px;
  }

  .white-icon {
    width: 70px;
    height: 70px;
  }

  .header-text {
    width: 607px;
    height: 339px;
    left: 180px;
    top: 206px;
    font-size: 28px;
    line-height: 37px;
  }

  .profile-img {
    left: 750px;
    bottom: 170px;
    top: 350px;

    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .icon-container {
    left: 1150px;
    top: 120px;
    gap: 10px;
  }

  .white-icon {
    width: 70px;
    height: 70px;
  }

  .header-text {
    width: 607px;
    height: 339px;
    left: 220px;
    top: 206px;
    font-size: 28px;
    line-height: 37px;
  }

  .profile-img {
    left: 1050px;
    bottom: 170px;
    top: 350px;

    width: 200px;
    height: 200px;
  }
}
